<div class="container" id="home-container">
	<div class="jumbotron text-center text-white">
 	 <h1 class="display-4">Welcome to the Blog</h1>
 	 <hr class="my-4">
 	 <p>This blog was developed as a learning project using Ruby on Rails. I hope you enjoy!</p>
  	<a><%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %></a>
	</div>
</div>